# Configuración del Servidor
APP_NAME=NombreDeTuApp
SERVER_PORT=8082

# Base de Datos (Sustituir con credenciales locales)
DB_URL=jdbc:mysql://localhost:3306/nombre_db?serverTimezone=UTC
DB_USER=tu_usuario
DB_PASS=tu_password

# Seguridad Interna Spring
SPRING_ADMIN_USER=admin
SPRING_ADMIN_PASS=admin

# JWT (Generar una cadena aleatoria fuerte de 64 caracteres)
JWT_SECRET=tu_secreto_super_seguro_aqui
JWT_EXPIRATION=86400000

# Google OAuth2 (Obtener en Google Cloud Console)
GOOGLE_CLIENT_ID=tu_cliente_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_secret_de_google

# Cloudinary (Obtener en el Dashboard de Cloudinary)
CLOUDINARY_NAME=tu_cloud_name
CLOUDINARY_KEY=tu_api_key
CLOUDINARY_SECRET=tu_api_secret