# --- ECLIPSE / STS METADATA ---
.metadata/
.log
.lock
lock_info
version.ini

# --- BUILD ARTIFACTS ---
target/
build/
bin/
*.class
*.jar
*.war
*.ear

# --- STS / ECLIPSE ---
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# --- MAVEN ---
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- VS Code ---
.vscode/

# --- NetBeans ---
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- SYSTEM FILES ---
.DS_Store
Thumbs.db
HELP.md